<a href="https://colab.research.google.com/github/ckashby/todoclay/blob/master/ListComprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# for num in range(65,91):  # ASCII
#   print(chr(num))
[chr(num) for num in range(97, 123)]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [9]:
# Doubled odds
numbers = [3, 4, 5, 6, 7, 8]
# doubled_odds = []
# for num in numbers:
#   if num % 2 != 0:
#     doubled_odds.append(num ** 2)

# print(doubled_odds)
[num * 2 for num in numbers if num % 2 == 1]

[6, 10, 14]

In [12]:
my_matrix = [[1,2,3],
 [4,5,6],
  [7,8,9]]

# flattened = []
# for row in my_matrix:
#     for n in row:
#         flattened.append(n)

# print(flattened)
[n for row in my_matrix for n in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
words = ['one', 'two', 'three', 'four']
set([w[0] for w in words])

{'f', 'o', 't'}

In [27]:
from tempfile import template
tel = {'sape': 4139, 'jack': 4098}
tel['guido'] = 2048
print(tel)
del tel['guido']
tel
'guido' in tel
'jack' in tel
list(tel)
sorted(tel)

{'sape': 4139, 'jack': 4098, 'guido': 2048}

['jack', 'sape']

In [30]:
# Dict Constructor
dict_names = dict([('Leilani', 4432),('Noelani', 4139), ('Kekoa', 4127), ('Kapono', 4098)])
list(dict_names)
sorted(dict_names)

['Kapono', 'Kekoa', 'Leilani', 'Noelani']

In [31]:
# Dict Comprehensions
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [35]:
# When looping through a sequence, the position index and corresponding value
# can be retrieved at the same time using the enumerate() function.
for i, v in enumerate(['one', 'two', 'three']):
  print(i, v)

0 one
1 two
2 three

In [36]:
# To loop over two or more sequences at the same time,
# the entries can be paired with the zip() function.
questions = ['name', 'quest', 'favorite color']
answers = ['Lancelot', 'Holy Grail', 'Green']
for q, a in zip(questions, answers):
  print(q, a)

name Lancelot
quest Holy Grail
favorite color Green

In [34]:
orders = [
    {'buyer': 'Steven Wilson', 'price': 1330.35, 'market': 'ASIA'},
    {'buyer': 'Kathy Santos', 'price': 1456.85, 'market': 'USA'},
    {'buyer': 'David Watkins', 'price': 650.88, 'market': 'USA'},
    {'buyer': 'Jennifer Williams', 'price': 1080.62, 'market': 'EU'},
    {'buyer': 'Jessica Garcia', 'price': 1323.96, 'market': 'USA'},
    {'buyer': 'Justin Garrett', 'price': 322.82, 'market': 'ASIA'},
    {'buyer': 'Jennifer Huerta', 'price': 1337.36, 'market': 'EU'},
    {'buyer': 'Mathew Reed', 'price': 273.74, 'market': 'ASIA'},
    {'buyer': 'Jerry Martinez', 'price': 336.67, 'market': 'EU'},
    {'buyer': 'Charles Cooper', 'price': 1278.88, 'market': 'USA'},
    {'buyer': 'Melissa Deleon', 'price': 1757.61, 'market': 'EU'},
    {'buyer': 'Mary Jones', 'price': 1703.29, 'market': 'EU'},
    {'buyer': 'David Ramos', 'price': 916.17, 'market': 'ASIA'},
    {'buyer': 'Evelyn Bell', 'price': 1683.11, 'market': 'ASIA'},
    {'buyer': 'Donald Rasmussen', 'price': 167.49, 'market': 'USA'}
]

result = []

# for order in orders:
#   if order['market']== 'ASIA':
#     result.append(order)
# print(result)

[order for order in orders if order['market'] == 'USA']

[{'buyer': 'Kathy Santos', 'price': 1456.85, 'market': 'USA'},
 {'buyer': 'David Watkins', 'price': 650.88, 'market': 'USA'},
 {'buyer': 'Jessica Garcia', 'price': 1323.96, 'market': 'USA'},
 {'buyer': 'Charles Cooper', 'price': 1278.88, 'market': 'USA'},
 {'buyer': 'Donald Rasmussen', 'price': 167.49, 'market': 'USA'}]